name: CI
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1, 'min']
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
        - uses: actions/checkout@v5
        - uses: julia-actions/setup-julia@v2
          with:
            version: ${{ matrix.julia-version }}
        - name: Cache
          uses: julia-actions/cache@v2
          with:
              cache-compiled: "true"
        - uses: julia-actions/julia-buildpkg@v1
        - uses: julia-actions/julia-runtest@v1
        - uses: julia-actions/julia-processcoverage@v1
        - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
          with:
            files: lcov.info
